body{
    margin: 0px;
    background-color: #0498b3;
}

h1{
    text-align: center;
}

.flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-horisontal{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.flexbox-item{
    text-align: start;
    justify-content: center;
    width: 47%;
    min-height: 3rem;
    margin: 1%;
    border: 3px solid #0045ad;
    font-size: 1.5rem;
    background-color: teal;

}

.flexbox-item1{
    text-align: center;
    justify-content: center;
    width: 47%;
    min-height: 3rem;
    margin: 1%;
    border: 3px solid #0045ad;
    font-size: 1.5rem;
    background-color: teal;

}


#bilder{
    padding: 1%;
    width: 10rem;
    height: 10rem;
}