body{
    margin: 0px;
    background-color: #0498b3;
}

h1{
    text-align: center;
}

.flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-horisontal{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.flexbox-item{
    text-align: start;
    justify-content: center;
    width: calc(50% - 2% - 6px);
    min-height: 3rem;
    margin: 1%;
    border: 3px solid #000000;
    font-size: 1.5rem;
    background-color: teal;
}




#bilder{
    padding: 1%;
    width: 10rem;
    height: 10rem;
}

.searchBar{
    display: flex;
    justify-self: center;
    margin-top:3px ;
    width: calc(33% - 8px);
    height: 2rem;
    border: 3px solid #09c0e0;
    transition: width 0.3s ease;
}

.searchBar:focus{
    width: calc(100% - 1rem);
    border: 3px solid #1004b3;
    padding: none;
}

#biggest{
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-content: center;
    background-color: red;
}

.target{
    justify-self: center;
   border:3px solid black;
   border-radius:50rem ;
   padding: 20px;
}

#red{
    background-color: red;
}

#white{
    background-color: white;
}
.progress-bar{
    margin: 50px;
}
.progress-container{
    width:50%;
    background-color: lightgray;
    border-radius: 10px;
    height: 25px;
    margin:1.5rem 0;
    
}

.progress{
    height: 100%;
    border-radius: 10px;
}

.stage1{
    width: 33%;
    background-color: red;
}

.stage2{
    width:67%;
    background-color: orange;
}

.stage3{
    width:100%;
    background-color: green;
}

.playing-card{
    justify-content: center;
    align-items: center;
    display: flex;
}

.card{
    height: 300px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    position: relative;
    color: black;
    justify-content: center;
    top: 100px;
    align-items: center;

}

.center{
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 4rem;
    flex-direction: column;
    
}

.top, .bottom{
    position: absolute;
    font-size: 1.5rem;
    flex-direction: column;
}

.top{
    top: 3px;
    left: 10px;

}

.bottom{
    bottom:3px;
    right: 10px;
    transform: rotate(180deg);
}

.six{
    text-decoration: underline;
}

.club-center{
    font-size: 3rem;
    color: black;
    margin-top: -20px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    
}











