body{
    margin: 0px;
    background-color: #0498b3;
}

h1{
    text-align: center;
}

.flexbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-horisontal{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.flexbox-item{
    text-align: start;
    justify-content: center;
    width: calc(50% - 2% - 6px);
    min-height: 3rem;
    margin: 1%;
    border: 3px solid #000000;
    font-size: 1.5rem;
    background-color: teal;
}




#bilder{
    padding: 1%;
    width: 10rem;
    height: 10rem;
}

.searchBar{
    display: flex;
    justify-self: center;
    margin-top:3px ;
    width: 33%;
    height: 2rem;
    border: 3px solid #09c0e0;
    transition: width 0.3s ease;
}

.searchBar:focus{
    width: calc(100% - 8px);
    border: 3px solid #1004b3;
    padding: none;
}