input[type="submit"] {
  pointer-events: none;
  opacity: 0.5;
}

/* when any checkbox inside the fieldset is checked, enable it */
#group:has(input[type="checkbox"]:checked) + input[type="submit"] {
  pointer-events: auto;
  opacity: 1;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color:black;
}

h1{
    display: flex;
    color: white;
    justify-content: center;
}

.main{
    padding:3px;
    background-color: gray;
    font: bold;
}




footer{
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

footer{
  display: block;
  unicode-bidi: isolate;
}
*{
  margin: 0;
  box-sizing: border-box;
}
#responsive{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;;
  color: black;
  background-color: beige;

}
#main-title{
  color: black;
}
.features{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
nav{
  display: block;
  unicode-bidi: isolate;
  
}