input[type="submit"] {
  pointer-events: none;
  opacity: 0.5;
}

/* when any checkbox inside the fieldset is checked, enable it */
#group:has(input[type="checkbox"]:checked) + input[type="submit"] {
  pointer-events: auto;
  opacity: 1;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color:black;
}

h1{
    display: flex;
    color: white;
    justify-content: center;
}

.main{
    padding:3px;
    background-color: gray;
    font: bold;
}




footer{
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

footer{
  display: block;
  unicode-bidi: isolate;
}
*{
  margin: 0;
  box-sizing: border-box;
}
#responsive{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;;
  color: black;
  background-color: beige;

}
#main-title{
  color: black;
}
.features{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

header{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: block;
}
nav{
  display: block;
  unicode-bidi: isolate;

}
nav ul{
  list-style: none;
  padding: 0;
}
ul{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  list-style-type: disc;
}
head{
  display: none;
}
.about{
  padding: 40px;
  text-align: center;
  background: #f4f4f4;
}
h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
