input[type="submit"] {
  pointer-events: none;
  opacity: 0.5;
}

/* when any checkbox inside the fieldset is checked, enable it */
#group:has(input[type="checkbox"]:checked) + input[type="submit"] {
  pointer-events: auto;
  opacity: 1;
}

body{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color:black;
}

h1{
    display: flex;
    color: white;
    justify-content: center;
}

.main{
    padding:3px;
    background-color: gray;
    font: bold;
}